<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="/img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="codepixer">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>node</title>

	<link href="https://fonts.googleapis.com/css?family=Poppins:400,600|Roboto:400,400i,500" rel="stylesheet">
	<!--
			CSS
			============================================= -->
	<link rel="stylesheet" href="/css/linearicons.css">
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/magnific-popup.css">
	<link rel="stylesheet" href="/css/nice-select.css">
	<link rel="stylesheet" href="/css/hexagons.min.css">
	<link rel="stylesheet" href="/css/owl.carousel.css">
	<link rel="stylesheet" href="/css/main.css">
</head>

<body>
	<!-- start header Area -->
	<header id="header">
		<div class="container main-menu">
			<div class="row align-items-center justify-content-between d-flex">
				<div id="logo">
					<a href="indexs"><img src="/img/logo.png" alt="" title="" /></a>
				</div>
				<nav id="nav-menu-container">
					<ul class="nav-menu">
						<li class="menu-active"><a href="about">关于</a></li>
						<li><a href="indexs">撰写文章</a></li>
						<li><a href="article">文章列表</a></li>
						<li><a href="contact">联系</a></li>
						<li><a href="single">个人信息页</a></li>
						<li><a href="exitLogin">退出登录</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<section class="banner-area">
		<div class="container">
			<div class="row banner-content">
				<div class="col-lg-12 d-flex align-items-center justify-content-between">
					<div class="left-part">
						<h1>
							关于我们
						</h1>
						<p>
							人生总有那么一段大片大片空白的时光。你在等待，你在坚忍，你在静默。
							你在等一场春华秋实，你在等新一轮的春暖花开，你在等从未有过的雷霆万钧。
							这静默的日子有些长，有些闷，但是我也会等下去。我相信人的青春不只有一次，有时候，时光会给你额外的惊喜。
						</p>
					</div>
					<div class="right-part">
						<a href="indexs">home</a>
						<span class="fa fa-caret-right"></span>
						<a href="about">关于</a>
					</div>
				</div>
			</div>
		</div>
		</div>
	</section>
	<section class="feature-area section-gap-top">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="col-lg-6">
					<div class="section-title text-center">
						<h2>小论</h2>
						<p>这对他来说将是痛苦的，他将被认为是无助的，但他将同时遭受痛苦
						</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="single-feature">
						<a href="#" class="title">
							<span class="lnr lnr-book"></span>
							<h3>专业技术人员</h3>
						</a>
						<p>
							由于技术和力量的迅速发展，互联网的使用变得越来越普遍
						</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-feature">
						<a href="#" class="title">
							<span class="lnr lnr-book"></span>
							<h3>专业服务</h3>
						</a>
						<p>
							由于技术和力量的迅速发展，互联网的使用变得越来越普遍
						</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-feature">
						<a href="#" class="title">
							<span class="lnr lnr-book"></span>
							<h3>强大的支持</h3>
						</a>
						<p>
							由于技术和力量的迅速发展，互联网的使用变得越来越普遍
						</p>
					</div>
				</div>

			</div>
		</div>
	</section>
	<section class="testimonials-area about-page section-gap-bottom">
		<div class="container">
			<div class="testi-slider owl-carousel" data-slider-id="1">
				<div class="item">
					<div class="testi-item">
						<img src="/img/quote.png" alt="">
						<h4>范妮·斯宾塞</h4>
						<ul class="list">
							<li><a href="#"><i class="fa fa-star"></i></a></li>
							<li><a href="#"><i class="fa fa-star"></i></a></li>
							<li><a href="#"><i class="fa fa-star"></i></a></li>
							<li><a href="#"><i class="fa fa-star"></i></a></li>
							<li><a href="#"><i class="fa fa-star"></i></a></li>
						</ul>
						<div class="wow fadeIn" data-wow-duration="1s">
							<p>
								作为有意识的旅行贫民，我们必须时刻关注我们亲爱的地球母亲。如果你仔细想想，
								你旅行
								她是你旅程的主人。
							</p>
						</div>
					</div>
				</div>
				</div>
			</div>
			<div class="owl-thumbs d-flex justify-content-center" data-slider-id="1">
				<div class="owl-thumb-item">
					<div>
						<img class="img-fluid" src="/img/testimonial/t4.jpg" alt="">
					</div>
					<div class="overlay overlay-grad"></div>
				</div>
			</div>
		</div>
	</section>
	<script src="/js/js/vendor/jquery-2.2.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	 crossorigin="anonymous"></script>
	<script src="/js/js/tilt.jquery.min.js"></script>
	<script src="/js/js/vendor/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
	<script src="/js/js/easing.min.js"></script>
	<script src="/js/js/hoverIntent.js"></script>
	<script src="/js/js/superfish.min.js"></script>
	<script src="/js/js/jquery.ajaxchimp.min.js"></script>
	<script src="/js/js/jquery.magnific-popup.min.js"></script>
	<script src="/js/js/owl.carousel.min.js"></script>
	<script src="/js/js/owl-carousel-thumb.min.js"></script>
	<script src="/js/js/hexagons.min.js"></script>
	<script src="/js/js/jquery.nice-select.min.js"></script>
	<script src="/js/js/waypoints.min.js"></script>
	<script src="/js/js/mail-script.js"></script>
	<script src="/js/js/main.js"></script>
</body>

</html>